<div class="text-center mt-5">
    <h2>Transaction History</h2>
</div>
<section>
    <table class="table">

        <thead>
            <th class="text-center border ">Type</th>
            <th class="text-center border ">Amount</th>
        </thead>
        <tbody>
            <tr *ngFor="let j of transaction">
                <td class="text-center border bg-light ">{{j.type}}</td>
                <td class="text-center border ">{{j.Amount}}</td>

            </tr>

        </tbody>
    </table>
</section>